.SearchInput {
  width: 260px;
  height: 38px;
  box-sizing: border-box;
  color: #A9AEC1;
  border: 2px solid #D4D7E1;
  border-radius: 19px;
  background-color: rgba(0, 0, 0, 0);
  align-self: flex-end;
  padding-left: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.SearchIcon {
  color: #A9AEC1;
  position: absolute;
  top: 19px;
  left: 15px;
  font-size: 18px;
  transform: translateY(-9px);
}

.SearchInputContainer {
  position: relative;
}