.OfflineIndicator {
  display: flex;
  justify-content: space-between;
  width: 70px;
  align-items: center;
}

.OfflineTimes {
  color: #EA5885;
}

.OfflineText {
  color: #494E61;
  font-size: 12px;
  font-weight: 600;
}