.OnlineIndicator {
  display: flex;
  justify-content: space-between;
  width: 70px;
  align-items: center;
}

.OnlineCircle {
  color: rgb(97, 228, 147);
  font-size: 8px;
}

.OnlineText {
  color: #24A1A9;
  font-size: 12px;
  font-weight: 600;
}