.TableSummary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

.TitleAndCounter {
  display: flex;
  flex-flow: column nowrap; 
}

.Title {
  font-size: 21px;
  font-weight: 600;
  color: #494E61;
  margin: 0;
}

.Counter {
  font-size: 15px;
  margin: 0;
  color: #494E61;
  margin-top: 2px;
}