.Dropdown {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  color: #494E61;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
}

.DropdownOption {
  padding-left: 28px;
  box-sizing: border-box;
  width: 140px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.DropdownOption:hover {
  background-color: #F2F3F6;
}