.TableHeader {
  background-color: #fff;
  color: #9CA7D3;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 42px;
  margin-bottom: 2px;
}

.TableHeaderCell {
  flex-basis: 25%;
}