.TableRow {
  background-color: #fff;
  height: 59px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 42px;
  margin-bottom: 2px;
  position: relative;
  overflow: visible;
}

.TableRowCellName {
  color: #494E61;
  flex-basis: 25%;
  font-size: 13px;
  font-weight: 600;
  min-width: 200px;
}

.TableRowCellStatus {
  flex-basis: 25%;
  min-width: 200px;
}

.TableRowOptions {
  position: absolute;
  right: 0px;
  padding-right: 30px;
  cursor: pointer;
  height: 59px;
  display: flex;
  align-items: center;
}