.TableSpinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.Circle {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 8px solid #494E61;
  border-radius: 50%;
}

.Rect {
  width: 50px;
  height: 50px;
  background-color: #F2F3F6;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}