.TableContainer {
  box-sizing: border-box;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.Table {
  border: 2px solid #EDEDF0;
  margin-top: 15px;
}

.TableRows {
  max-height: calc(100vh - 300px);
  overflow: auto;
}